/.github/CODEOWNER @traQ-Admin

# migration ファイル - DB 変更だけは必ず Admin もレビューする
/migration/ @traQ-Admin

# api 定義は Admin も確認するようにする - 後から API を落とすのは大変なので
/docs/v3-api.yaml @traQ-Admin
/docs/swagger.yaml @traQ-Admin
