/.github/CODEOWNER @traPtitech/traq-admin

# migration ファイル - DB 変更だけは必ず Admin もレビューする
/migration/ @traPtitech/traq-admin

# api 定義は Admin も確認するようにする - 後から API を落とすのは大変なので
/docs/v3-api.yaml @traPtitech/traq-admin
/docs/swagger.yaml @traPtitech/traq-admin

* @traPtitech/traq-reviewer
