/.circleci/
/.github/
/.idea/
/dev/
/docs/

.dockerignore
.envrc
.gitignore
.golangci.yml
.goreleaser.yml
.tbls.yml
codecov.yml
config.example.yml
config.yml
docker-compose.yml
Dockerfile
LICENSE
Makefile
README.md

.DS_Store
