/.circleci/
/.github/
/.idea/
/.git/
/dev/
/docs/
/vendor/
/dist/

.dockerignore
.envrc
.gitignore
.golangci.yml
.goreleaser.yml
.tbls.yml
codecov.yml
config.example.yml
config.yml
compose.yaml
Dockerfile
LICENSE
Makefile
README.md
*.sql

.DS_Store
