services:
  backend:
    build: ./
    restart: always
    environment:
      TRAQ_ALLOWSIGNUP: true
      TRAQ_ORIGIN: http://localhost:3000
      TRAQ_MARIADB_HOST: mysql
      TRAQ_ES_URL: http://es:9200
      TRAQ_PPROF: "true"
      TRAQ_STORAGE_TYPE: composite
      TRAQ_STORAGE_S3_BUCKET: traq
      TRAQ_STORAGE_S3_REGION: ap-northeast-1
      TRAQ_STORAGE_S3_ENDPOINT: http://s3:9000
      TRAQ_STORAGE_S3_ACCESSKEY: ROOT
      TRAQ_STORAGE_S3_SECRETKEY: PASSWORD
      TRAQ_STORAGE_S3_CACHEDIR: ./storage
      TRAQ_STORAGE_COMPOSITE_REMOTE: s3
    entrypoint: ./traQ serve --dev --skip-init-emojis
    expose:
      - "80"
      - "6060"
    ports:
      - "6060:6060"
    depends_on:
      mysql:
        condition: service_healthy
      es:
        condition: service_healthy
    volumes:
      - app:/app/storage

  frontend:
    image: caddy:latest
    restart: always
    expose:
      - "80"
    ports:
      - "3000:80"
    depends_on:
      - backend
    volumes:
      - ./dev/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./dev/frontend:/usr/share/caddy:ro

  mysql:
    image: mariadb:10.6.4
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: traq
    # conohaのDBのデフォルトCharsetはutf8
    command: mysqld --character-set-server=utf8 --collation-server=utf8_general_ci
    expose:
      - "3306"
    ports:
      - "3002:3306"
    volumes:
      - mysql:/var/lib/mysql
    healthcheck:
      test: mysql --user=root --password=password --execute "SHOW DATABASES;"
      interval: 1s
      timeout: 10s
      retries: 60

  es:
    image: ghcr.io/traptitech/es-with-sudachi:8.8.1-3.1.0
    restart: always
    environment:
      discovery.type: single-node
      cluster.name: docker-cluster
      ELASTIC_PASSWORD: password
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - ./dev/es_jvm.options:/usr/share/elasticsearch/config/jvm.options.d/es_jvm.options
      - es:/usr/share/elasticsearch/data
    healthcheck:
      test: curl -s http://localhost:9200 >/dev/null || exit 1
      interval: 1s
      timeout: 10s
      retries: 60

  adminer:
    image: adminer:4.7.5
    restart: always
    environment:
      ADMINER_DEFAULT_SERVER: mysql
      ADMINER_DESIGN: nette
    expose:
      - "8080"
    ports:
      - "3001:8080"

  botdebugger:
    image: golang:alpine
    restart: always
    volumes:
      - ./dev/bin:/app
    command: go run /app/bot_debugger.go -p 80

  s3:
    image: minio/minio:latest
    # 9000-API, 9001-Web
    ports:
      - 9000:9000
      - 9001:9001
    networks:
      default:
        aliases:
          - traq.s3 # {bucket}.s3
    environment:
      MINIO_ROOT_USER: ROOT
      MINIO_ROOT_PASSWORD: PASSWORD
      MINIO_DOMAIN: s3
    volumes:
      - s3:/data
    command: minio server /data --console-address :9001

volumes:
  app:
  mysql:
  es:
  s3:
