{
    admin off
}

:80

log
root * /usr/share/caddy

handle /api/* {
    reverse_proxy backend:3000
}

handle /.well-known/* {
    respond 404
}
handle /.well-known/change-password {
    redir * /settings/session
}

handle {
    file_server
    try_files {path} /index.html

    header /sw.js Cache-Control "max-age=0"
}
