openapi: 3.0.0
info:
  title: traQ v3
  version: '3.0'
  description: traQ v3 API
  license:
    name: MIT
    url: 'https://github.com/traPtitech/traQ/blob/master/LICENSE'
  contact:
    name: traP
    url: 'https://github.com/traPtitech/traQ'
servers:
  - url: 'https://q.trap.jp/api/v3'
    description: production
  - url: 'https://traq-s-dev.tokyotech.org/api/v3'
    description: staging
  - url: 'http://localhost:3000/api/v3'
    description: local
paths:
  '/channels/{channelId}/messages':
    parameters:
      - $ref: '#/components/parameters/channelIdInPath'
    post:
      summary: チャンネルにメッセージを投稿
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          description: Bad Request
        '404':
          description: |-
            Not Found
            チャンネルが見つかりません。
      description: |-
        指定したチャンネルにメッセージを投稿します。
        embedをtrueに指定すると、メッセージ埋め込みが自動で行われます。
        アーカイブされているチャンネルに投稿することはできません。
      operationId: postMessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostMessageRequest'
        description: ''
      tags:
        - message
        - channel
    get:
      summary: チャンネルメッセージのリストを取得
      description: 指定したチャンネルのメッセージのリストを取得します。
      operationId: getMessages
      tags:
        - channel
        - message
      parameters:
        - $ref: '#/components/parameters/limitInQuery'
        - $ref: '#/components/parameters/offsetInQuery'
        - $ref: '#/components/parameters/sinceInQuery'
        - $ref: '#/components/parameters/untilInQuery'
        - $ref: '#/components/parameters/inclusiveInQuery'
        - $ref: '#/components/parameters/orderInQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: メッセージの配列
                items:
                  $ref: '#/components/schemas/Message'
          headers:
            X-TRAQ-MORE:
              $ref: '#/components/headers/X-TRAQ-MORE'
        '400':
          description: Bad Request
        '404':
          description: |-
            Not Found
            チャンネルが見つかりません。
  '/messages':
    get:
      summary: メッセージを検索
      description: メッセージを検索します。
      operationId: searchMessages
      tags:
        - message
      parameters:
        - schema:
            type: string
          in: query
          name: word
          description: |
            検索ワード
            Simple-Query-String-Syntaxをパースして検索します
          example: '"phrase match" +(foo | bar) -baz'
        - schema:
            type: string
            format: date-time
          in: query
          name: after
          description: 投稿日時が指定日時より後
          example: 2006-01-02T15:04:05Z
        - schema:
            type: string
            format: date-time
          in: query
          name: before
          description: 投稿日時が指定日時より前
          example: 2006-01-02T15:04:05Z
        - schema:
            type: string
            format: uuid
          in: query
          name: in
          description: メッセージが投稿されたチャンネル
        - schema:
            type: string
            format: uuid
          in: query
          name: to
          description: メンションされたユーザー
        - schema:
            type: string
            format: uuid
          in: query
          name: from
          description: メッセージを投稿したユーザー
        - schema:
            type: string
            format: uuid
          in: query
          name: citation
          description: 引用しているメッセージ
        - schema:
            type: boolean
          in: query
          name: bot
          description: メッセージを投稿したユーザーがBotかどうか
        - schema:
            type: boolean
          in: query
          name: hasURL
          description: メッセージがURLを含むか
        - schema:
            type: boolean
          in: query
          name: hasAttachments
          description: メッセージが添付ファイルを含むか
        - schema:
            type: boolean
          in: query
          name: hasImage
          description: メッセージが画像を含むか
        - schema:
            type: boolean
          in: query
          name: hasVideo
          description: メッセージが動画を含むか
        - schema:
            type: boolean
          in: query
          name: hasAudio
          description: メッセージが音声ファイルを含むか
        - schema:
            type: integer
            minimum: 1
            maximum: 100
          in: query
          name: limit
          description: 検索結果から取得するメッセージの最大件数
        - schema:
            type: integer
            minimum: 0
            maximum: 9900
          in: query
          name: offset
          description: 検索結果から取得するメッセージのオフセット
        - in: query
          name: sort
          schema:
            type: string
            default: '-createdAt'
            enum:
              - createdAt
              - '-createdAt'
              - updatedAt
              - '-updatedAt'
          description: 'ソート順 (作成日時が新しい `createdAt`, 作成日時が古い `-createdAt`, 更新日時が新しい `updatedAt`, 更新日時が古い `-updatedAt`)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: MessageSearchResult
                type: object
                description: メッセージ検索結果
                properties:
                  totalHits:
                    type: integer
                    format: int64
                    description: 検索にヒットしたメッセージ件数
                  hits:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
                    description: 検索にヒットしたメッセージの配列
                required:
                  - totalHits
                  - hits
        '400':
          description: Bad Request
        '503':
          description: search service is currently unavailable
  '/messages/{messageId}':
    parameters:
      - $ref: '#/components/parameters/messageIdInPath'
    get:
      summary: メッセージを取得
      tags:
        - message
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '404':
          description: Not Found
      operationId: getMessage
      description: 指定したメッセージを取得します。
    put:
      summary: メッセージを編集
      responses:
        '204':
          description: |-
            No Content
            メッセージを編集できました。
        '400':
          description: Bad Request
        '403':
          description: |-
            Forbidden
            指定されたメッセージを編集する権限がありません。
        '404':
          description: Not Found
      description: |-
        指定したメッセージを編集します。
        自身が投稿したメッセージのみ編集することができます。
        アーカイブされているチャンネルのメッセージを編集することは出来ません。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostMessageRequest'
      tags:
        - message
      operationId: editMessage
    delete:
      summary: メッセージを削除
      responses:
        '204':
          description: |-
            No Content
            正常に削除できました。
        '403':
          description: |-
            Forbidden
            指定されたメッセージを削除する権限がありません。
        '404':
          description: Not Found
      tags:
        - message
      operationId: deleteMessage
      description: |-
        指定したメッセージを削除します。
        自身が投稿したメッセージと自身が管理権限を持つWebhookとBOTが投稿したメッセージのみ削除することができます。
        アーカイブされているチャンネルのメッセージを編集することは出来ません。
  '/messages/{messageId}/pin':
    parameters:
      - $ref: '#/components/parameters/messageIdInPath'
    get:
      summary: ピン留めを取得
      tags:
        - message
        - pin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagePin'
        '404':
          description: |-
            Not Found
            指定したメッセージ、またはピン留めが見つかりません。
      operationId: getPin
      description: 指定したメッセージのピン留め情報を取得します。
    post:
      summary: ピン留めする
      responses:
        '201':
          description: |-
            Created
            指定したメッセージがピン留めされました。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagePin'
        '400':
          description: Bad Request
        '404':
          description: |-
            Not Found
            メッセージが見つかりません。
      tags:
        - message
        - pin
      operationId: createPin
      description: |-
        指定したメッセージをピン留めします。
        アーカイブされているチャンネルのメッセージ・存在しないメッセージ・チャンネル当たりの上限数を超えたメッセージのピン留めはできません。
    delete:
      summary: ピン留めを外す
      responses:
        '204':
          description: |-
            No Content
            指定したメッセージのピン留めが外されました。
        '400':
          description: Bad Request
        '404':
          description: |-
            Not Found
            指定したメッセージ、またはピン留めが見つかりません。
      description: 指定したメッセージのピン留めを外します。
      tags:
        - message
        - pin
      operationId: removePin
  '/channels/{channelId}/stats':
    parameters:
      - $ref: '#/components/parameters/channelIdInPath'
    get:
      summary: チャンネル統計情報を取得
      tags:
        - channel
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelStats'
        '404':
          description: |-
            Not Found
            チャンネルが見つかりません。
      operationId: getChannelStats
      description: 指定したチャンネルの統計情報を取得します。
  '/channels/{channelId}/topic':
    parameters:
      - $ref: '#/components/parameters/channelIdInPath'
    get:
      summary: チャンネルトピックを取得
      tags:
        - channel
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelTopic'
        '404':
          description: |-
            Not Found
            チャンネルが見つかりません。
      operationId: getChannelTopic
      description: 指定したチャンネルのトピックを取得します。
    put:
      summary: チャンネルトピックを編集
      responses:
        '204':
          description: |-
            No Content
            チャンネルトピックが編集されました
        '400':
          description: Bad Request
        '404':
          description: |-
            Not Found
            チャンネルが見つかりません。
      tags:
        - channel
      description: |-
        指定したチャンネルのトピックを編集します。
        アーカイブされているチャンネルのトピックは編集できません。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutChannelTopicRequest'
      operationId: editChannelTopic
  '/channels/{channelId}/viewers':
    parameters:
      - $ref: '#/components/parameters/channelIdInPath'
    get:
      summary: チャンネル閲覧者リストを取得
      tags:
        - channel
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: チャンネル閲覧者の配列
                items:
                  $ref: '#/components/schemas/ChannelViewer'
        '404':
          description: |-
            Not Found
            チャンネルが見つかりません。
      operationId: getChannelViewers
      description: 指定したチャンネルの閲覧者のリストを取得します。
  /files:
    post:
      summary: ファイルをアップロード
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
        '400':
          description: Bad Request
        '411':
          description: Length Required
        '413':
          description: Request Entity Too Large
      tags:
        - file
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PostFileRequest'
      operationId: postFile
      description: |-
        指定したチャンネルにファイルをアップロードします。
        アーカイブされているチャンネルにはアップロード出来ません。
    get:
      summary: ファイルメタのリストを取得
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ファイルメタの配列
                items:
                  $ref: '#/components/schemas/FileInfo'
          headers:
            X-TRAQ-MORE:
              $ref: '#/components/headers/X-TRAQ-MORE'
        '400':
          description: Bad Request
      tags:
        - file
      operationId: getFiles
      parameters:
        - schema:
            type: string
            format: uuid
          in: query
          name: channelId
          description: アップロード先チャンネルUUID
        - $ref: '#/components/parameters/limitInQuery'
        - $ref: '#/components/parameters/offsetInQuery'
        - $ref: '#/components/parameters/sinceInQuery'
        - $ref: '#/components/parameters/untilInQuery'
        - $ref: '#/components/parameters/inclusiveInQuery'
        - $ref: '#/components/parameters/orderInQuery'
        - schema:
            type: boolean
            default: false
          in: query
          name: mine
          description: アップロード者が自分のファイルのみを取得するか
      description: |-
        指定したクエリでファイルメタのリストを取得します。
        クエリパラメータ`channelId`, `mine`の少なくともいずれかが必須です。
  '/files/{fileId}/meta':
    parameters:
      - $ref: '#/components/parameters/fileIdInPath'
    get:
      summary: ファイルメタを取得
      tags:
        - file
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
        '403':
          description: Forbidden
        '404':
          description: |-
            Not Found
            ファイルが見つかりません。
      operationId: getFileMeta
      description: |-
        指定したファイルのメタ情報を取得します。
        指定したファイルへのアクセス権限が必要です。
  '/files/{fileId}/thumbnail':
    parameters:
      - $ref: '#/components/parameters/fileIdInPath'
      - schema:
          $ref: '#/components/schemas/ThumbnailType'
        in: query
        name: type
        description: 取得するサムネイルのタイプ
    get:
      summary: サムネイル画像を取得
      tags:
        - file
      responses:
        '200':
          description: OK
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
        '403':
          description: Forbidden
        '404':
          description: |-
            Not Found
            ファイルが見つからない、またはサムネイル画像が存在しません。
      operationId: getThumbnailImage
      description: |-
        指定したファイルのサムネイル画像を取得します。
        指定したファイルへのアクセス権限が必要です。
  '/files/{fileId}':
    parameters:
      - $ref: '#/components/parameters/fileIdInPath'
    get:
      summary: ファイルをダウンロード
      tags:
        - file
      responses:
        '200':
          description: |-
            OK
            ファイル本体を返します。
            application/octet-streamで返すことになっていますが、ファイルの形式によって変わります。
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              schema:
                type: string
              description: 'https://developer.mozilla.org/ja/docs/Web/HTTP/Headers/Content-Disposition'
        '403':
          description: Forbidden
        '404':
          description: Not Found
      parameters:
        - schema:
            type: integer
          in: query
          name: dl
          description: 1を指定するとレスポンスにContent-Dispositionヘッダーが付与されます
      operationId: getFile
      description: |-
        指定したファイル本体を取得します。
        指定したファイルへのアクセス権限が必要です。
    delete:
      summary: ファイルを削除
      responses:
        '204':
          description: |-
            No Content
            ファイルが削除できました。
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
        - file
      operationId: deleteFile
      description: |-
        指定したファイルを削除します。
        指定したファイルの削除権限が必要です。
  '/channels/{channelId}/pins':
    parameters:
      - $ref: '#/components/parameters/channelIdInPath'
    get:
      summary: チャンネルピンのリストを取得
      tags:
        - channel
        - pin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pin'
        '404':
          description: |-
            Not Found
            チャンネルが見つかりません。
      operationId: getChannelPins
      description: 指定したチャンネルにピン留めされているピンメッセージのリストを取得します。
  '/messages/{messageId}/stamps':
    parameters:
      - $ref: '#/components/parameters/messageIdInPath'
    get:
      summary: メッセージのスタンプリストを取得
      tags:
        - message
        - stamp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MessageStamp'
        '404':
          description: Not Found
      description: 指定したメッセージに押されているスタンプのリストを取得します。
      operationId: getMessageStamps
  '/messages/{messageId}/stamps/{stampId}':
    parameters:
      - $ref: '#/components/parameters/messageIdInPath'
      - $ref: '#/components/parameters/stampIdInPath'
    post:
      summary: スタンプを押す
      responses:
        '204':
          description: |-
            No Content
            スタンプを押すことができました。
        '400':
          description: Bad Request
        '404':
          description: |-
            Not Found
            メッセージ、またはスタンプが見つかりません。
      operationId: addMessageStamp
      tags:
        - message
        - stamp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostMessageStampRequest'
        description: ''
      description: 指定したメッセージに指定したスタンプを押します。
    delete:
      summary: スタンプを消す
      responses:
        '204':
          description: |-
            No Content
            スタンプを消すことができました。
        '404':
          description: |-
            Not Found
            メッセージ、またはスタンプが見つかりません。
      operationId: removeMessageStamp
      tags:
        - message
        - stamp
      description: 指定したメッセージから指定した自身が押したスタンプを削除します。
  '/stamps/{stampId}':
    parameters:
      - $ref: '#/components/parameters/stampIdInPath'
    get:
      summary: スタンプ情報を取得
      tags:
        - stamp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stamp'
        '404':
          description: Not Found
      operationId: getStamp
      description: 指定したスタンプの情報を取得します。
    delete:
      summary: スタンプを削除
      responses:
        '204':
          description: |-
            No Content
            スタンプが削除されました。
        '403':
          description: Forbidden
        '404':
          description: Not Found
      description: |-
        指定したスタンプを削除します。
        対象のスタンプの削除権限が必要です。
      operationId: deleteStamp
      tags:
        - stamp
    patch:
      summary: スタンプ情報を変更
      operationId: editStamp
      responses:
        '204':
          description: |-
            No Content
            スタンプ情報が変更されました。
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
      tags:
        - stamp
      description: 指定したスタンプの情報を変更します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchStampRequest'
  /stamps:
    post:
      summary: スタンプを作成
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stamp'
        '400':
          description: Bad Request
        '409':
          description: Conflict
        '413':
          description: Request Entity Too Large
      description: スタンプを新規作成します。
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PostStampRequest'
            encoding:
              file:
                contentType: 'image/png, image/jpeg, image/gif'
        description: ''
      operationId: createStamp
      tags:
        - stamp
    get:
      summary: スタンプリストを取得
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Stamp'
      operationId: getStamps
      tags:
        - stamp
      parameters:
        - schema:
            type: boolean
            default: true
          in: query
          name: include-unicode
          deprecated: true
          description: |
            Unicode絵文字を含ませるかどうか
            Deprecated: typeクエリを指定しなければ全てのスタンプを取得できるため、そちらを利用してください
        - schema:
            type: string
            enum: [unicode, original]
          in: query
          name: type
          description: 取得するスタンプの種類
      description: スタンプのリストを取得します。
  /users/me/stamp-history:
    get:
      summary: スタンプ履歴を取得
      tags:
        - stamp
        - me
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StampHistoryEntry'
      operationId: getMyStampHistory
      parameters:
        - schema:
            type: integer
            default: 100
            maximum: 100
            minimum: 1
          in: query
          name: limit
          description: 件数
      description: |-
        自分のスタンプ履歴を最大100件まで取得します。
        結果は降順で返されます。

        このAPIが返すスタンプ履歴は厳密な履歴ではありません。
  /users/me/qr-code:
    get:
      summary: QRコードを取得
      tags:
        - me
      responses:
        '200':
          description: OK
          content:
            image/png:
              schema:
                type: string
                format: binary
                description: QRコード画像
            text/plain:
              schema:
                type: string
                description: QRコードJWT
      description: |-
        自身のQRコードを取得します。
        返されたQRコードまたはトークンは、発行後の5分間のみ有効です
      operationId: getMyQRCode
      parameters:
        - schema:
            type: boolean
            default: false
          in: query
          name: token
          description: 画像でなくトークン文字列で返すかどうか
  '/stamps/{stampId}/stats':
    parameters:
      - $ref: '#/components/parameters/stampIdInPath'
    get:
      summary: スタンプ統計情報を取得
      tags:
        - stamp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StampStats'
        '404':
          description: |-
            Not Found
            スタンプが見つかりません。
      operationId: getStampStats
      description: 指定したスタンプの統計情報を取得します。
  '/users/{userId}':
    parameters:
      - $ref: '#/components/parameters/userIdInPath'
    get:
      summary: ユーザー詳細情報を取得
      tags:
        - user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetail'
        '404':
          description: Not Found
      operationId: getUser
      description: 指定したユーザーの詳細情報を取得します。
    patch:
      summary: ユーザー情報を変更
      responses:
        '204':
          description: |-
            No Content
            変更されました。
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
      operationId: editUser
      tags:
        - user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchUserRequest'
      description: |-
        指定したユーザーの情報を変更します。
        管理者権限が必要です。
  '/groups/{groupId}':
    parameters:
      - $ref: '#/components/parameters/groupIdInPath'
    get:
      summary: ユーザーグループを取得
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroup'
        '404':
          description: Not Found
      operationId: getUserGroup
      tags:
        - group
      description: 指定したユーザーグループの情報を取得します。
    delete:
      summary: ユーザーグループを削除
      responses:
        '204':
          description: |-
            No Content
            ユーザーグループが削除されました。
        '403':
          description: |-
            Forbidden
            ユーザーグループを操作する権限がありません。
        '404':
          description: Not Found
      description: |-
        指定したユーザーグループを削除します。
        対象のユーザーグループの管理者権限が必要です。
      operationId: deleteUserGroup
      tags:
        - group
    patch:
      summary: ユーザーグループを編集
      responses:
        '204':
          description: |-
            No Content
            編集されました。
        '400':
          description: Bad Request
        '403':
          description: |-
            Forbidden
            ユーザーグループを操作する権限がありません。
        '404':
          description: Not Found
        '409':
          description: |-
            Conflict
            変更後のグループ名のグループは既に存在します。
      tags:
        - group
      operationId: editUserGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchUserGroupRequest'
        description: ''
      description: |-
        指定したユーザーグループの情報を編集します。
        対象のユーザーグループの管理者権限が必要です。
  '/groups/{groupId}/icon':
    parameters:
      - $ref: '#/components/parameters/groupIdInPath'
    put:
      summary: ユーザーグループのアイコンを変更
      responses:
        '204':
          description: |-
            No Content
            変更されました。
        '400':
          description: Bad Request
        '404':
          description: |-
            Not Found
            ユーザーグループが見つかりません。
        '413':
          description: Request Entity Too Large
      operationId: changeUserGroupIcon
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PutUserIconRequest'
            encoding:
              file:
                contentType: 'image/png, image/jpeg, image/gif'
        description: ''
      tags:
        - group
      description: |-
        ユーザーグループのアイコンを変更します。
        対象のユーザーグループの管理者権限が必要です。
  '/groups/{groupId}/members':
    parameters:
      - $ref: '#/components/parameters/groupIdInPath'
    get:
      summary: グループメンバーを取得
      tags:
        - group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ユーザーグループメンバーの配列
                items:
                  $ref: '#/components/schemas/UserGroupMember'
        '404':
          description: |-
            Not Found
            ユーザーグループが見つかりません。
      operationId: getUserGroupMembers
      description: 指定したグループのメンバーのリストを取得します。
    post:
      summary: グループメンバーを追加
      responses:
        '204':
          description: |-
            No Content
            追加されました。
        '400':
          description: Bad Request
        '403':
          description: |-
            Forbidden
            ユーザーグループを操作する権限がありません。
        '404':
          description: |-
            Not Found
            ユーザーグループが見つかりません。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroupMember'
        description: ''
      tags:
        - group
      operationId: addUserGroupMember
      description: |-
        指定したグループにメンバーを追加します。
        対象のユーザーグループの管理者権限が必要です。
  '/groups/{groupId}/members/{userId}':
    parameters:
      - $ref: '#/components/parameters/groupIdInPath'
      - $ref: '#/components/parameters/userIdInPath'
    delete:
      summary: グループメンバーを削除
      responses:
        '204':
          description: |-
            No Content
            指定したユーザーがユーザーグループから削除されました。
        '403':
          description: |-
            Forbidden
            ユーザーグループを操作する権限がありません。
        '404':
          description: |-
            Not Found
            ユーザーグループが見つかりません。
      tags:
        - group
      operationId: removeUserGroupMember
      description: |-
        指定したユーザーグループから指定したユーザーを削除します。
        既にグループから削除されているメンバーを指定した場合は204を返します。
        対象のユーザーグループの管理者権限が必要です。
    patch:
      summary: グループメンバーを編集
      responses:
        '204':
          description: |-
            No Content
            変更されました。
        '400':
          description: |-
            Bad Request
            ユーザーがグループに存在しないか、リクエストが不正です。
        '403':
          description: |-
            Forbidden
            ユーザーグループを操作する権限がありません。
        '404':
          description: |-
            Not Found
            ユーザーグループが見つかりません。
      operationId: editUserGroupMember
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchGroupMemberRequest'
      tags:
        - group
      description: |-
        指定したユーザーグループ内の指定したユーザーの属性を編集します。
        対象のユーザーグループの管理者権限が必要です。
  /groups:
    get:
      summary: ユーザーグループのリストを取得
      tags:
        - group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ユーザーグループの配列
                items:
                  $ref: '#/components/schemas/UserGroup'
      description: ユーザーグループのリストを取得します。
      operationId: getUserGroups
      parameters: []
    post:
      summary: ユーザーグループを作成
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroup'
        '400':
          description: Bad Request
        '403':
          description: |-
            Forbidden
            指定したグループを作成する権限がありません。
        '409':
          description: |-
            Conflict
            指定した名前のグループは既に存在します。
      tags:
        - group
      description: |-
        ユーザーグループを作成します。
        作成者は自動的にグループ管理者になります。
      operationId: createUserGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostUserGroupRequest'
  /users/me:
    get:
      summary: 自分のユーザー詳細を取得
      tags:
        - me
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MyUserDetail'
      operationId: getMe
      description: 自身のユーザー詳細情報を取得します。
    patch:
      summary: 自分のユーザー情報を変更
      responses:
        '204':
          description: |-
            No Content
            変更されました。
        '400':
          description: Bad Request
      tags:
        - me
      operationId: editMe
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchMeRequest'
      description: 自身のユーザー情報を変更します。
  '/users/{userId}/messages':
    parameters:
      - $ref: '#/components/parameters/userIdInPath'
    post:
      summary: ダイレクトメッセージを送信
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          description: Bad Request
        '404':
          description: |-
            Not Found
            ユーザーが見つかりません。
      tags:
        - message
        - user
      operationId: postDirectMessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostMessageRequest'
      description: 指定したユーザーにダイレクトメッセージを送信します。
    get:
      summary: ダイレクトメッセージのリストを取得
      operationId: getDirectMessages
      tags:
        - message
        - user
      responses:
        '200':
          description: OK
          headers:
            X-TRAQ-MORE:
              $ref: '#/components/headers/X-TRAQ-MORE'
          content:
            application/json:
              schema:
                type: array
                description: メッセージの配列
                items:
                  $ref: '#/components/schemas/Message'
        '400':
          description: Bad Request
        '404':
          description: |-
            Not Found
            ユーザーが見つかりません。
      parameters:
        - $ref: '#/components/parameters/limitInQuery'
        - $ref: '#/components/parameters/offsetInQuery'
        - $ref: '#/components/parameters/sinceInQuery'
        - $ref: '#/components/parameters/untilInQuery'
        - $ref: '#/components/parameters/inclusiveInQuery'
        - $ref: '#/components/parameters/orderInQuery'
      description: 指定したユーザーとのダイレクトメッセージのリストを取得します。
  '/users/{userId}/stats':
    parameters:
      - $ref: '#/components/parameters/userIdInPath'
    get:
      summary: ユーザー統計情報を取得
      tags:
        - user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserStats'
        '404':
          description: |-
            Not Found
            ユーザーが見つかりません。
      operationId: getUserStats
      description: 指定したユーザーの統計情報を取得します。
  '/channels/{channelId}/subscribers':
    parameters:
      - $ref: '#/components/parameters/channelIdInPath'
    get:
      summary: チャンネルの通知購読者のリストを取得
      tags:
        - channel
        - notification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: 購読者UUIDの配列
                items:
                  type: string
                  format: uuid
        '403':
          description: |-
            Forbidden
            プライベートチャンネル・強制通知チャンネルの設定は取得できません。
        '404':
          description: |-
            Not Found
            チャンネルが見つかりません。
      operationId: getChannelSubscribers
      description: 指定したチャンネルを通知購読しているユーザーのUUIDのリストを取得します。
    patch:
      summary: チャンネルの通知購読者を編集
      responses:
        '204':
          description: |-
            No Content
            変更できました。
        '400':
          description: Bad Request
        '403':
          description: |-
            Forbidden
            指定したチャンネルの通知購読者は変更できません。
        '404':
          description: |-
            Not Found
            チャンネルが見つかりません。
      tags:
        - channel
        - notification
      operationId: editChannelSubscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchChannelSubscribersRequest'
        description: ''
      description: |-
        指定したチャンネルの通知購読者を編集します。
        リクエストに含めなかったユーザーの通知購読状態は変更しません。
        また、存在しないユーザーを指定した場合は無視されます。
    put:
      summary: チャンネルの通知購読者を設定
      responses:
        '204':
          description: |-
            No Content
            変更されました。
          headers: {}
        '400':
          description: Bad Request
        '403':
          description: |-
            Forbidden
            指定したチャンネルの通知購読者は変更できません。
        '404':
          description: |-
            Not Found
            チャンネルが見つかりません。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutChannelSubscribersRequest'
      description: |-
        指定したチャンネルの通知購読者を設定します。
        リクエストに含めなかったユーザーの通知購読状態はオフになります。
        また、存在しないユーザーを指定した場合は無視されます。
      tags:
        - channel
        - notification
      operationId: setChannelSubscribers
  /users/me/subscriptions:
    get:
      summary: 自分のチャンネル購読状態を取得
      tags:
        - me
        - notification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: チャンネル購読状態の配列
                items:
                  $ref: '#/components/schemas/UserSubscribeState'
      operationId: getMyChannelSubscriptions
      description: 自身のチャンネル購読状態を取得します。
  '/users/me/subscriptions/{channelId}':
    parameters:
      - $ref: '#/components/parameters/channelIdInPath'
    put:
      summary: チャンネル購読レベルを設定
      responses:
        '204':
          description: |-
            No Content
            変更されました。
        '400':
          description: Bad Request
        '403':
          description: |-
            Forbidden
            指定したチャンネルの通知購読レベルは変更できません。
        '404':
          description: |-
            Not Found
            チャンネルが見つかりません。
      tags:
        - me
        - notification
      operationId: setChannelSubscribeLevel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutChannelSubscribeLevelRequest'
      description: 自身の指定したチャンネルの購読レベルを設定します。
  /webhooks:
    get:
      summary: Webhook情報のリストを取得します
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: Webhook情報の配列
                items:
                  $ref: '#/components/schemas/Webhook'
      tags:
        - webhook
      operationId: getWebhooks
      parameters:
        - schema:
            type: boolean
            default: false
          in: query
          name: all
          description: 全てのWebhookを取得します。権限が必要です。
      description: |-
        Webhookのリストを取得します。
        allがtrueで無い場合は、自分がオーナーのWebhookのリストを返します。
    post:
      summary: Webhookを新規作成
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: Bad Request
      operationId: createWebhook
      tags:
        - webhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostWebhookRequest'
      description: |-
        Webhookを新規作成します。
        `secret`が空文字の場合、insecureウェブフックが作成されます。
  '/webhooks/{webhookId}':
    parameters:
      - $ref: '#/components/parameters/webhookIdInPath'
    get:
      summary: Webhook情報を取得
      tags:
        - webhook
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '404':
          description: |-
            Not Found
            Webhookが見つかりません。
      operationId: getWebhook
      description: 指定したWebhookの詳細を取得します。
    post:
      summary: Webhookを送信
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '404':
          description: Not Found
      operationId: postWebhook
      parameters:
        - schema:
            type: string
          in: header
          name: X-TRAQ-Signature
          description: リクエストボディシグネチャ(Secretが設定されている場合は必須)
        - schema:
            type: string
          in: header
          name: X-TRAQ-Channel-Id
          description: 投稿先のチャンネルID(変更する場合)
        - schema:
            type: integer
            default: 0
          in: query
          name: embed
          description: メンション・チャンネルリンクを自動埋め込みする場合に1を指定する
      requestBody:
        content:
          text/plain:
            schema:
              type: string
              description: メッセージ文字列
        description: ''
      tags:
        - webhook
      description: |-
        Webhookにメッセージを投稿します。
        secureなウェブフックに対しては`X-TRAQ-Signature`ヘッダーが必須です。
        アーカイブされているチャンネルには投稿できません。
    delete:
      summary: Webhookを削除
      responses:
        '204':
          description: |-
            No Content
            削除されました。
        '404':
          description: |-
            Not Found
            Webhookが見つかりません。
      tags:
        - webhook
      operationId: deleteWebhook
      description: |-
        指定したWebhookを削除します。
        Webhookによって投稿されたメッセージは削除されません。
    patch:
      summary: Webhook情報を変更
      responses:
        '204':
          description: |-
            No Content
            編集できました。
        '400':
          description: Bad Request
        '404':
          description: |-
            Not Found
            Webhookが見つかりません。
      operationId: editWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchWebhookRequest'
      tags:
        - webhook
      description: 指定したWebhookの情報を変更します。
  '/webhooks/{webhookId}/icon':
    parameters:
      - $ref: '#/components/parameters/webhookIdInPath'
    get:
      summary: Webhookのアイコンを取得
      tags:
        - webhook
      responses:
        '200':
          description: OK
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        '404':
          description: |-
            Not Found
            Webhookが見つかりません。
      operationId: getWebhookIcon
      description: 指定したWebhookのアイコン画像を取得します
    put:
      summary: Webhookのアイコンを変更
      responses:
        '204':
          description: |-
            No Content
            変更されました。
        '400':
          description: Bad Request
        '404':
          description: |-
            Not Found
            Webhookが見つかりません。
        '413':
          description: Request Entity Too Large
      operationId: changeWebhookIcon
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PutUserIconRequest'
            encoding:
              file:
                contentType: 'image/png, image/jpeg, image/gif'
        description: ''
      tags:
        - webhook
      description: 指定したWebhookのアイコン画像を変更します。
  '/users/{userId}/icon':
    parameters:
      - $ref: '#/components/parameters/userIdInPath'
    get:
      summary: ユーザーのアイコン画像を取得
      tags:
        - user
      responses:
        '200':
          description: OK
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        '404':
          description: |-
            Not Found
            ユーザーが見つかりません。
      operationId: getUserIcon
      description: 指定したユーザーのアイコン画像を取得します。
    put:
      summary: ユーザーのアイコン画像を変更します
      responses:
        '204':
          description: |-
            No Content
            変更されました。
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: |-
            Not Found
            ユーザーが見つかりません。
        '413':
          description: Request Entity Too Large
      operationId: changeUserIcon
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PutUserIconRequest'
            encoding:
              file:
                contentType: 'image/png, image/jpeg, image/gif'
      tags:
        - user
      description: |-
        指定したユーザーのアイコン画像を変更します。
        管理者権限が必要です。
  /users/me/icon:
    get:
      summary: 自分のアイコン画像を取得
      tags:
        - me
      responses:
        '200':
          description: OK
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        '404':
          description: |-
            Not Found
            ユーザーが見つかりません。
      operationId: getMyIcon
      description: 自分のアイコン画像を取得します。
    put:
      summary: 自分のアイコン画像を変更
      responses:
        '204':
          description: |-
            No Content
            変更されました。
        '400':
          description: Bad Request
        '413':
          description: Request Entity Too Large
      description: 自分のアイコン画像を変更します。
      operationId: changeMyIcon
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PutUserIconRequest'
            encoding:
              file:
                contentType: 'image/png, image/jpeg, image/gif'
      tags:
        - me
  /users/me/password:
    put:
      summary: 自分のパスワードを変更
      responses:
        '204':
          description: |-
            No Content
            変更できました。
        '400':
          description: Bad Request
        '401':
          description: |-
            Unauthorized
            現在のパスワードが違います。
      tags:
        - me
      operationId: changeMyPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutMyPasswordRequest'
        description: ''
      description: 自身のパスワードを変更します。
  '/users/{userId}/password':
    parameters:
      - $ref: '#/components/parameters/userIdInPath'
    put:
      summary: ユーザーのパスワードを変更
      responses:
        '204':
          description: |-
            No Content
            変更できました。
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: |-
            Not Found
            ユーザーが見つかりません。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutUserPasswordRequest'
        description: ''
      tags:
        - user
      operationId: changeUserPassword
      description: |-
        指定したユーザーのパスワードを変更します。
        管理者権限が必要です。
  /users/me/fcm-device:
    post:
      summary: FCMデバイスを登録
      responses:
        '204':
          description: |-
            No Content
            登録できました。
        '400':
          description: Bad Request
      tags:
        - me
        - notification
      operationId: registerFCMDevice
      description: 自身のFCMデバイスを登録します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostMyFCMDeviceRequest'
  /users/me/view-states:
    get:
      summary: 自身のチャンネル閲覧状態一覧を取得
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: チャンネル閲覧状態
                items:
                  $ref: '#/components/schemas/MyChannelViewState'
      operationId: getMyViewStates
      tags:
        - me
        - notification
      description: 自身のチャンネル閲覧状態一覧を取得します。
  /users:
    post:
      summary: ユーザーを登録
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetail'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '409':
          description: |-
            Conflict
            nameが重複しています。
      operationId: createUser
      tags:
        - user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostUserRequest'
        description: ''
      description: |-
        ユーザーを登録します。
        管理者権限が必要です。
    get:
      summary: ユーザーのリストを取得
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ユーザー情報の配列
                items:
                  $ref: '#/components/schemas/User'
        '400':
          description: Bad Request
      operationId: getUsers
      tags:
        - user
      parameters:
        - schema:
            type: boolean
            default: false
          in: query
          name: include-suspended
          description: アカウントがアクティブでないユーザーを含め、全てのユーザーを取得するかどうか
        - schema:
            type: string
          in: query
          name: name
          description: 名前が一致するアカウントのみを取得する
      description: |-
        ユーザーのリストを取得します。
        `include-suspended`を指定しない場合、レスポンスにはユーザーアカウント状態が"1: 有効"であるユーザーのみが含まれます。
        `include-suspended`と`name`を同時に指定することはできません。
  /channels:
    post:
      summary: チャンネルを作成
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '409':
          description: |-
            Conflict
            指定した名前のチャンネルは既に存在しています。
      operationId: createChannel
      tags:
        - channel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostChannelRequest'
      description: |-
        チャンネルを作成します。
        階層が6以上になるチャンネルは作成できません。
    get:
      summary: チャンネルリストを取得
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelList'
      operationId: getChannels
      tags:
        - channel
      description: チャンネルのリストを取得します。
      parameters:
        - schema:
            type: boolean
            default: false
          in: query
          name: include-dm
          description: ダイレクトメッセージチャンネルをレスポンスに含めるかどうか
  '/users/{userId}/tags':
    parameters:
      - $ref: '#/components/parameters/userIdInPath'
    get:
      summary: ユーザーのタグリストを取得
      tags:
        - user
        - user tag
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ユーザータグの配列
                items:
                  $ref: '#/components/schemas/UserTag'
        '404':
          description: |-
            Not Found
            ユーザーが見つかりません。
      description: 指定したユーザーのタグリストを取得します。
      operationId: getUserTags
    post:
      summary: ユーザーにタグを追加
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTag'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: |-
            Not Found
            ユーザーが見つかりません。
        '409':
          description: |-
            Conflict
            既に追加されています。
      tags:
        - user
        - user tag
      operationId: addUserTag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostUserTagRequest'
        description: ''
      description: |-
        指定したユーザーに指定したタグを追加します。
        Webhookユーザーにタグを追加することは出来ません。
  '/users/{userId}/tags/{tagId}':
    parameters:
      - $ref: '#/components/parameters/userIdInPath'
      - $ref: '#/components/parameters/tagIdInPath'
    patch:
      summary: ユーザーのタグを編集
      responses:
        '204':
          description: |-
            No Content
            変更されました。
        '400':
          description: Bad Request
        '404':
          description: |-
            Not Found
            ユーザーか、タグが見つかりません。
      operationId: editUserTag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchUserTagRequest'
        description: ''
      tags:
        - user
        - user tag
      description: |-
        指定したユーザーの指定したタグの状態を変更します。
        他人の状態は変更できません。
    delete:
      summary: ユーザーからタグを削除します
      responses:
        '204':
          description: |-
            No Content
            削除されました。
        '403':
          description: |-
            Forbidden
            タグがロックされていました。
        '404':
          description: |-
            Not Found
            ユーザーが見つかりません。
      description: 既に存在しないタグを削除しようとした場合は204を返します。
      operationId: removeUserTag
      tags:
        - user
        - user tag
  '/tags/{tagId}':
    parameters:
      - $ref: '#/components/parameters/tagIdInPath'
    get:
      summary: タグ情報を取得
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '404':
          description: Not Found
      operationId: getTag
      tags:
        - user tag
      description: 指定したタグの情報を取得します。
  /users/me/tags:
    get:
      summary: 自分のタグリストを取得
      tags:
        - me
        - user tag
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ユーザータグの配列
                items:
                  $ref: '#/components/schemas/UserTag'
      operationId: getMyUserTags
      description: 自分に付けられているタグの配列を取得します。
    post:
      summary: 自分にタグを追加
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTag'
        '400':
          description: Bad Request
        '409':
          description: |-
            Conflict
            既に追加されています。
      tags:
        - me
        - user tag
      operationId: addMyUserTag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostUserTagRequest'
        description: ''
      description: 自分に新しくタグを追加します。
  '/users/me/tags/{tagId}':
    parameters:
      - $ref: '#/components/parameters/tagIdInPath'
    delete:
      summary: 自分からタグを削除します
      responses:
        '204':
          description: |-
            No Content
            削除されました。
        '403':
          description: |-
            Forbidden
            タグがロックされています。
      description: 既に存在しないタグを削除しようとした場合は204を返します。
      operationId: removeMyUserTag
      tags:
        - user tag
        - me
    patch:
      summary: 自分のタグを編集
      responses:
        '204':
          description: |-
            No Content
            変更されました。
        '400':
          description: Bad Request
        '404':
          description: |-
            Not Found
            タグが見つかりません。
      operationId: editMyUserTag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchUserTagRequest'
        description: ''
      tags:
        - user tag
        - me
      description: 自分の指定したタグの状態を変更します。
  /users/me/stars:
    get:
      summary: スターチャンネルリストを取得
      tags:
        - me
        - star
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: スターしているチャンネルのUUID配列
                items:
                  type: string
                  format: uuid
      operationId: getMyStars
      description: 自分がスターしているチャンネルのUUIDの配列を取得します。
    post:
      summary: チャンネルをスターに追加
      responses:
        '204':
          description: |-
            No Content
            スターしました。
        '400':
          description: Bad Request
      tags:
        - me
        - star
      operationId: addMyStar
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostStarRequest'
      description: |-
        指定したチャンネルをスターチャンネルに追加します。
        スター済みのチャンネルIDを指定した場合、204を返します。
        不正なチャンネルIDを指定した場合、400を返します。
  '/users/me/stars/{channelId}':
    parameters:
      - $ref: '#/components/parameters/channelIdInPath'
    delete:
      summary: チャンネルをスターから削除します
      responses:
        '204':
          description: |-
            No Content
            削除されました。
      tags:
        - me
        - star
      description: 既にスターから削除されているチャンネルを指定した場合は204を返します。
      operationId: removeMyStar
  /users/me/unread:
    get:
      summary: 未読チャンネルを取得
      tags:
        - me
        - notification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: 未読チャンネル情報の配列
                items:
                  $ref: '#/components/schemas/UnreadChannel'
      operationId: getMyUnreadChannels
      description: 自分が現在未読のチャンネルの未読情報を取得します。
  /version:
    get:
      summary: バージョンを取得
      tags:
        - public
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
      operationId: getServerVersion
      description: サーバーバージョン及びサーバーフラグ情報を取得します。
  /login:
    post:
      summary: ログイン
      responses:
        '204':
          description: |-
            No Content
            ログインしました。
        '302':
          description: |-
            Found
            ログインしました。リダイレクトします。
        '400':
          description: Bad Request
        '401':
          description: |-
            Unauthorized
            認証情報が間違っています。
        '403':
          description: |-
            Forbidden
            ログインを試行したユーザーアカウントに問題があります。
      tags:
        - authentication
      operationId: login
      parameters:
        - $ref: '#/components/parameters/redirectInQuery'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostLoginRequest'
      description: ログインします。
  /logout:
    post:
      summary: ログアウト
      responses:
        '204':
          description: |-
            No Content
            ログアウトしました。
        '302':
          description: |-
            Found
            ログアウトしました。リダイレクトします。
      tags:
        - authentication
      operationId: logout
      parameters:
        - $ref: '#/components/parameters/redirectInQuery'
        - schema:
            type: boolean
            default: false
          in: query
          name: all
          description: 全てのセッションでログアウトするかどうか
      description: ログアウトします。
  /users/me/sessions:
    get:
      summary: 自分のログインセッションリストを取得
      tags:
        - authentication
        - me
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: 有効なログインセッションの配列
                items:
                  $ref: '#/components/schemas/LoginSession'
      operationId: getMySessions
      description: 自分のログインセッションのリストを取得します。
  '/users/me/sessions/{sessionId}':
    parameters:
      - $ref: '#/components/parameters/sessionIdInPath'
    delete:
      summary: セッションを無効化
      responses:
        '204':
          description: |-
            No Content
            無効化しました。
      operationId: revokeMySession
      tags:
        - authentication
        - me
      description: |-
        指定した自分のセッションを無効化(ログアウト)します。
        既に存在しない・無効化されているセッションを指定した場合も`204`を返します。
  /activity/timeline:
    get:
      summary: アクテビティタイムラインを取得
      tags:
        - activity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: メッセージの配列
                items:
                  $ref: '#/components/schemas/ActivityTimelineMessage'
        '400':
          description: Bad Request
      description: |-
        パブリックチャンネルの直近の投稿メッセージを作成日時の降順で取得します。
        `all`が`true`でない場合、購読チャンネルのみのタイムラインを取得します
      parameters:
        - schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 50
          in: query
          name: limit
          description: 取得する件数
        - schema:
            type: boolean
            default: false
          in: query
          name: all
          description: 全てのチャンネルのタイムラインを取得する
        - schema:
            type: boolean
            default: false
          in: query
          name: per_channel
          description: 同じチャンネルのメッセージは最新のもののみ取得するか
      operationId: getActivityTimeline
  /ws:
    get:
      summary: WebSocket通知ストリームに接続します
      tags:
        - notification
      responses:
        '101':
          description: Switching Protocols
      operationId: ws
      description: |-
        # WebSocketプロトコル
        ## 送信
        `コマンド:引数1:引数2:...`のような形式のTextMessageをサーバーに送信することで、このWebSocketセッションに対する設定が実行できる。
        ### `viewstate`コマンド
        このWebSocketセッションが見ているチャンネル(イベントを受け取るチャンネル)を設定する。
        現時点では1つのセッションに対して1つのチャンネルしか設定できない。

        `viewstate:{チャンネルID}:{閲覧状態}`
        + チャンネルID: 対象のチャンネルID
        + 閲覧状態: `none`, `monitoring`, `editing`

        最初の`viewstate`コマンドを送る前、または`viewstate:null`, `viewstate:`を送信した後は、このセッションはどこのチャンネルも見ていないことになる。

        ### `rtcstate`コマンド
        自分のWebRTC状態を変更する。
        他のコネクションが既に状態を保持している場合、変更することができません。

        `rtcstate:{チャンネルID}:({状態}:{セッションID})*`

        コネクションが切断された場合、自分のWebRTC状態はリセットされます。

        ### `timeline_streaming`コマンド
        全てのパブリックチャンネルの`MESSAGE_CREATED`イベントを受け取るかどうかを設定する。
        初期状態は`off`です。

        `timeline_streaming:(on|off|true|false)`

        ## 受信
        TextMessageとして各種イベントが`type`と`body`を持つJSONとして非同期に送られます。

        例:
        ```json
        {"type":"USER_ONLINE","body":{"id":"7dd8e07f-7f5d-4331-9176-b56a4299768b"}}
        ```

        ## イベント一覧

        ### `USER_JOINED`
        ユーザーが新規登録された。

        対象: 全員

        + `id`: 登録されたユーザーのId

        ### `USER_UPDATED`
        ユーザーの情報が更新された。

        対象: 全員

        + `id`: 情報が更新されたユーザーのId

        ### `USER_TAGS_UPDATED`
        ユーザーのタグが更新された。

        対象: 全員

        + `id`: タグが更新されたユーザーのId
        + `tag_id`: 更新されたタグのId

        ### `USER_ICON_UPDATED`
        ユーザーのアイコンが更新された。

        対象: 全員

        + `id`: アイコンが更新されたユーザーのId

        ### `USER_WEBRTC_STATE_CHANGED`
        ユーザーのWebRTCの状態が変化した

        対象: 全員

        + `user_id`: 変更があったユーザーのId
        + `channel_id`: ユーザーの変更後の接続チャンネルのId
        + `sessions`: ユーザーの変更後の状態(配列)
          + `state`: 状態
          + `sessionId`: セッションID

        ### `USER_VIEWSTATE_CHANGED`
        ユーザーのチャンネルの閲覧状態が変化した

        対象: 変化したWSセッションを含めた、該当ユーザーのWSセッション全て

        + `view_states`: 変化したWSセッションを含めた、該当ユーザーの変更後の状態(配列)
          + `key`: WSセッションの識別子
          + `channel_id`: 閲覧しているチャンネルId
          + `state`: 閲覧状態

        ### `USER_ONLINE`
        ユーザーがオンラインになった。

        対象: 全員

        + `id`: オンラインになったユーザーのId

        ### `USER_OFFLINE`
        ユーザーがオフラインになった。

        対象: 全員

        + `id`: オフラインになったユーザーのId

        ### `USER_GROUP_CREATED`
        ユーザーグループが作成された

        対象: 全員

        + `id`: 作成されたユーザーグループのId

        ### `USER_GROUP_UPDATED`
        ユーザーグループが更新された

        対象: 全員

        + `id`: 作成されたユーザーグループのId

        ### `USER_GROUP_DELETED`
        ユーザーグループが削除された

        対象: 全員

        + `id`: 削除されたユーザーグループのId

        ### `CHANNEL_CREATED`
        チャンネルが新規作成された。

        対象: 該当チャンネルを閲覧可能な全員

        + `id`: 作成されたチャンネルのId
        + `dm_user_id`: (DMの場合のみ) DM相手のユーザーId

        ### `CHANNEL_UPDATED`
        チャンネルの情報が変更された。

        対象: 該当チャンネルを閲覧可能な全員

        + `id`: 変更があったチャンネルのId
        + `dm_user_id`: (DMの場合のみ) DM相手のユーザーId

        ### `CHANNEL_DELETED`
        チャンネルが削除された。

        対象: 該当チャンネルを閲覧可能な全員

        + `id`: 削除されたチャンネルのId
        + `dm_user_id`: (DMの場合のみ) DM相手のユーザーId

        ### `CHANNEL_STARED`
        自分がチャンネルをスターした。

        対象: 自分

        + `id`: スターしたチャンネルのId

        ### `CHANNEL_UNSTARED`
        自分がチャンネルのスターを解除した。

        対象: 自分

        + `id`: スターしたチャンネルのId

        ### `CHANNEL_VIEWERS_CHANGED`
        チャンネルの閲覧者が変化した。

        対象: 該当チャンネルを閲覧しているユーザー

        + `id`: 変化したチャンネルのId
        + `viewers`: 変化後の閲覧者(配列)
          + `userId`: ユーザーId
          + `state`: 閲覧状態
          + `updatedAt`: 閲覧状態の更新日時

        ### `CHANNEL_SUBSCRIBERS_CHANGED`
        チャンネルの購読者が変化した。

        対象: 該当チャンネルを閲覧しているユーザー

        + `id`: 変化したチャンネルのId

        ### `MESSAGE_CREATED`
        メッセージが投稿された。

        対象: 投稿チャンネルを閲覧しているユーザー・投稿チャンネルに通知をつけているユーザー・メンションを受けたユーザー

        + `id`: 投稿されたメッセージのId
        + `is_citing`: 投稿されたメッセージがWebSocketを接続しているユーザーの投稿を引用しているかどうか

        ### `MESSAGE_UPDATED`
        メッセージが更新された。

        対象: 投稿チャンネルを閲覧しているユーザー

        + `id`: 更新されたメッセージのId

        ### `MESSAGE_DELETED`
        メッセージが削除された。

        対象: 投稿チャンネルを閲覧しているユーザー

        + `id`: 削除されたメッセージのId

        ### `MESSAGE_STAMPED`
        メッセージにスタンプが押された。

        対象: 投稿チャンネルを閲覧しているユーザー

        + `message_id`: メッセージId
        + `user_id`: スタンプを押したユーザーのId
        + `stamp_id`: スタンプのId
        + `count`: そのユーザーが押した数
        + `created_at`: そのユーザーがそのスタンプをそのメッセージに最初に押した日時

        ### `MESSAGE_UNSTAMPED`
        メッセージからスタンプが外された。

        対象: 投稿チャンネルを閲覧しているユーザー

        + `message_id`: メッセージId
        + `user_id`: スタンプを押したユーザーのId
        + `stamp_id`: スタンプのId

        ### `MESSAGE_PINNED`
        メッセージがピン留めされた。

        対象: 投稿チャンネルを閲覧しているユーザー

        + `message_id`: ピンされたメッセージのID
        + `channel_id`: ピンされたメッセージのチャンネルID

        ### `MESSAGE_UNPINNED`
        ピン留めされたメッセージのピンが外された。

        対象: 投稿チャンネルを閲覧しているユーザー

        + `message_id`: ピンが外されたメッセージのID
        + `channel_id`: ピンが外されたメッセージのチャンネルID

        ### `MESSAGE_READ`
        自分があるチャンネルのメッセージを読んだ。

        対象: 自分

        + `id`: 読んだチャンネルId

        ### `STAMP_CREATED`
        スタンプが新しく追加された。

        対象: 全員

        + `id`: 作成されたスタンプのId

        ### `STAMP_UPDATED`
        スタンプが修正された。

        対象: 全員

        + `id`: 修正されたスタンプのId

        ### `STAMP_DELETED`
        スタンプが削除された。

        対象: 全員

        + `id`: 削除されたスタンプのId

        ### `STAMP_PALETTE_CREATED`
        スタンプパレットが新しく追加された。

        対象: 自分

        + `id`: 作成されたスタンプパレットのId

        ### `STAMP_PALETTE_UPDATED`
        スタンプパレットが修正された。

        対象: 自分

        + `id`: 修正されたスタンプパレットのId

        ### `STAMP_PALETTE_DELETED`
        スタンプパレットが削除された。

        対象: 自分

        + `id`: 削除されたスタンプパレットのId

        ### `CLIP_FOLDER_CREATED`
        クリップフォルダーが作成された。

        対象：自分

        + `id`: 作成されたクリップフォルダーのId

        ### `CLIP_FOLDER_UPDATED`
        クリップフォルダーが修正された。

        対象: 自分

        + `id`: 更新されたクリップフォルダーのId

        ### `CLIP_FOLDER_DELETED`
        クリップフォルダーが削除された。

        対象: 自分

        + `id`: 削除されたクリップフォルダーのId

        ### `CLIP_FOLDER_MESSAGE_DELETED`
        クリップフォルダーからメッセージが除外された。

        対象: 自分

        + `folder_id`: メッセージが除外されたクリップフォルダーのId
        + `message_id`: クリップフォルダーから除外されたメッセージのId

        ### `CLIP_FOLDER_MESSAGE_ADDED`
        クリップフォルダーにメッセージが追加された。

        対象: 自分

        + `folder_id`: メッセージが追加されたクリップフォルダーのId
        + `message_id`: クリップフォルダーに追加されたメッセージのId
  /users/me/tokens:
    get:
      summary: 有効トークンのリストを取得
      tags:
        - oauth2
        - me
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: トークン情報の配列
                items:
                  $ref: '#/components/schemas/ActiveOAuth2Token'
      operationId: getMyTokens
      description: 有効な自分に発行されたOAuth2トークンのリストを取得します。
  '/users/me/tokens/{tokenId}':
    parameters:
      - $ref: '#/components/parameters/tokenIdInPath'
    delete:
      summary: トークンの認可を取り消す
      responses:
        '204':
          description: |-
            No Content
            取り消しました。
        '404':
          description: Not Found
      operationId: revokeMyToken
      description: 自分の指定したトークンの認可を取り消します。
      tags:
        - oauth2
        - me
  '/public/icon/{username}':
    parameters:
      - name: username
        in: path
        required: true
        description: ユーザー名
        schema:
          type: string
          pattern: '^[a-zA-Z0-9_-]{1,32}$'
    get:
      summary: ユーザーのアイコン画像を取得
      tags:
        - public
      responses:
        '200':
          description: OK
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        '404':
          description: Not Found
      operationId: getPublicUserIcon
      description: ユーザーのアイコン画像を取得します。
  '/clients/{clientId}':
    parameters:
      - $ref: '#/components/parameters/clientIdInPath'
    get:
      summary: OAuth2クライアント情報を取得
      tags:
        - oauth2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/OAuth2Client'
                  - $ref: '#/components/schemas/OAuth2ClientDetail'
        '403':
          description: Forbidden
        '404':
          description: Not Found
      operationId: getClient
      parameters:
        - schema:
            type: boolean
            default: false
          in: query
          name: detail
          description: 詳細情報を含めるかどうか
      description: |-
        指定したOAuth2クライアントの情報を取得します。
        詳細情報の取得には対象のクライアントの管理権限が必要です。
    delete:
      summary: OAuth2クライアントを削除
      responses:
        '204':
          description: |-
            No Content
            削除されました。
        '403':
          description: Forbidden
        '404':
          description: |-
            Not Found
            OAuth2クライアントが見つかりません。
      description: |-
        指定したOAuth2クライアントを削除します。
        対象のクライアントの管理権限が必要です。正常に削除された場合、このクライアントに対する認可は全て取り消されます。
      operationId: deleteClient
      tags:
        - oauth2
    patch:
      summary: OAuth2クライアント情報を変更
      responses:
        '204':
          description: |-
            No Content
            変更できました。
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: |-
            Not Found
            OAuth2クライアントが見つかりません。
      tags:
        - oauth2
      operationId: editClient
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchClientRequest'
        description: ''
      description: |-
        指定したOAuth2クライアントの情報を変更します。
        対象のクライアントの管理権限が必要です。
        クライアント開発者UUIDを変更した場合は、変更先ユーザーにクライアント管理権限が移譲され、自分自身は権限を失います。
  /clients:
    get:
      summary: OAuth2クライアントのリストを取得
      tags:
        - oauth2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: OAuth2クライアント情報の配列
                items:
                  $ref: '#/components/schemas/OAuth2Client'
      operationId: getClients
      parameters:
        - schema:
            type: boolean
            default: false
          in: query
          name: all
          description: 全てのクライアントを取得するかどうか
      description: |-
        自身が開発者のOAuth2クライアントのリストを取得します。
        `all`が`true`の場合、全開発者の全クライアントのリストを返します。
    post:
      summary: OAuth2クライアントを作成
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2ClientDetail'
        '400':
          description: Bad Request
      tags:
        - oauth2
      operationId: createClient
      description: OAuth2クライアントを作成します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostClientRequest'
  /bots:
    post:
      summary: BOTを作成
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotDetail'
        '400':
          description: Bad Request
        '409':
          description: |-
            Conflict
            既に使われている名前です。
      operationId: createBot
      description: |-
        BOTを作成します。
        作成後に購読イベントの設定を行う必要があります。
        さらにHTTP Modeの場合はアクティベーションを行う必要があります。
      tags:
        - bot
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBotRequest'
    get:
      summary: BOTリストを取得
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: BOT情報の配列
                items:
                  $ref: '#/components/schemas/Bot'
      operationId: getBots
      parameters:
        - schema:
            type: boolean
            default: false
          in: query
          name: all
          description: 全てのBOTを取得するかどうか
      tags:
        - bot
      description: |-
        BOT情報のリストを取得します。
        allを指定しない場合、自分が開発者のBOTのみを返します。
  /bots/ws:
    get:
      tags:
        - bot
      responses:
        '101':
          description: Switching Protocols
      operationId: connectBotWS
      summary: WebSocket Mode BOT用通知ストリームに接続します
      description: |-
        # BOT WebSocketプロトコル

        ## 送信

        `コマンド:引数1:引数2:...` のような形式のTextMessageをサーバーに送信することで、このWebSocketセッションに対する設定が実行できます。

        ### `rtcstate`コマンド
        自分のWebRTC状態を変更します。
        他のコネクションが既に状態を保持している場合、変更することができません。

        `rtcstate:{チャンネルID}:({状態}:{セッションID})*`

        チャンネルIDにnullもしくは空文字を指定するか、状態にnullもしくは空文字を指定した場合、WebRTC状態はリセットされます。

        `rtcstate:null`, `rtcstate:`, `rtcstate:channelId:null`, `rtcstate:channelId:`

        コネクションが切断された場合、自分のWebRTC状態はリセットされます。

        ## 受信

        TextMessageとして各種イベントが`type`、`reqId`、`body`を持つJSONとして非同期に送られます。
        `body`の内容はHTTP Modeの場合のRequest Bodyと同様です。
        例外として`ERROR`イベントは`reqId`を持ちません。

        例: PINGイベント
        `{"type":"PING","reqId":"requestId","body":{"eventTime":"2019-05-07T04:50:48.582586882Z"}}`

        ### `ERROR`

        コマンドの引数が不正などの理由でコマンドが受理されなかった場合に送られます。
        非同期に送られるため、必ずしもコマンドとの対応関係を確定できないことに注意してください。
        本番環境ではERRORが送られないようにすることが望ましいです。

        `{"type":"ERROR","body":"message"}`

  '/bots/{botId}/icon':
    parameters:
      - $ref: '#/components/parameters/botIdInPath'
    get:
      summary: BOTのアイコン画像を取得
      responses:
        '200':
          description: OK
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        '404':
          description: |-
            Not Found
            BOTが見つかりません。
      operationId: getBotIcon
      tags:
        - bot
      description: 指定したBOTのアイコン画像を取得を取得します。
    put:
      summary: BOTのアイコン画像を変更
      responses:
        '204':
          description: |-
            No Content
            変更されました。
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: |-
            Not Found
            BOTが見つかりません。
        '413':
          description: Request Entity Too Large
      operationId: changeBotIcon
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PutUserIconRequest'
            encoding:
              file:
                contentType: 'image/png, image/jpeg, image/gif'
      tags:
        - bot
      description: |-
        指定したBOTのアイコン画像を変更を変更します。
        対象のBOTの管理権限が必要です。
  '/bots/{botId}':
    parameters:
      - $ref: '#/components/parameters/botIdInPath'
    get:
      summary: BOT情報を取得
      tags:
        - bot
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Bot'
                  - $ref: '#/components/schemas/BotDetail'
        '403':
          description: Forbidden
        '404':
          description: Not Found
      operationId: getBot
      parameters:
        - schema:
            type: boolean
            default: false
          in: query
          name: detail
          description: 詳細情報を含めるかどうか
      description: |-
        指定したBOTのBOT情報を取得します。
        BOT詳細情報を取得する場合は、対象のBOTの管理権限が必要です。
    delete:
      summary: BOTを削除
      responses:
        '204':
          description: |-
            No Content
            削除しました。
        '403':
          description: Forbidden
        '404':
          description: Not Found
      operationId: deleteBot
      tags:
        - bot
      description: |-
        指定したBOTを削除します。
        対象のBOTの管理権限が必要です。
    patch:
      summary: BOT情報を変更
      responses:
        '204':
          description: |-
            No Content
            変更しました。
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
      operationId: editBot
      description: |-
        指定したBOTの情報を変更します。
        対象のBOTの管理権限が必要です。
        BOT開発者UUIDを変更した場合は、変更先ユーザーにBOT管理権限が移譲され、自分自身は権限を失います。
      tags:
        - bot
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchBotRequest'
        description: ''
  '/bots/{botId}/actions/activate':
    parameters:
      - $ref: '#/components/parameters/botIdInPath'
    post:
      summary: BOTをアクティベート
      responses:
        '202':
          description: Accepted
        '403':
          description: Forbidden
        '404':
          description: |-
            Not Found
            BOTが見つかりません。
      operationId: activateBot
      tags:
        - bot
      description: |-
        指定したBOTを有効化します。
        対象のBOTの管理権限が必要です。
  '/bots/{botId}/actions/inactivate':
    parameters:
      - $ref: '#/components/parameters/botIdInPath'
    post:
      summary: BOTをインアクティベート
      responses:
        '204':
          description: |-
            No Content
            BOTがインアクティベートされました。
        '403':
          description: Forbidden
        '404':
          description: |-
            Not Found
            BOTが見つかりません。
      tags:
        - bot
      operationId: inactivateBot
      description: 指定したBOTを無効化します。対象のBOTの管理権限が必要です。
  '/bots/{botId}/actions/reissue':
    parameters:
      - $ref: '#/components/parameters/botIdInPath'
    post:
      summary: BOTのトークンを再発行
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotTokens'
        '403':
          description: Forbidden
        '404':
          description: |-
            Not Found
            BOTが見つかりません。
      operationId: reissueBot
      tags:
        - bot
      description: |-
        指定したBOTの現在の各種トークンを無効化し、再発行を行います。
        対象のBOTの管理権限が必要です。
  '/bots/{botId}/logs':
    parameters:
      - $ref: '#/components/parameters/botIdInPath'
    get:
      summary: BOTのイベントログを取得
      tags:
        - bot
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: イベントログの配列
                items:
                  $ref: '#/components/schemas/BotEventLog'
        '403':
          description: Forbidden
        '404':
          description: |-
            Not Found
            BOTが見つかりません。
      operationId: getBotLogs
      parameters:
        - $ref: '#/components/parameters/limitInQuery'
        - $ref: '#/components/parameters/offsetInQuery'
      description: |-
        指定したBOTのイベントログを取得します。
        対象のBOTの管理権限が必要です。
  '/bots/{botId}/actions/join':
    parameters:
      - $ref: '#/components/parameters/botIdInPath'
    post:
      summary: BOTをチャンネルに参加させる
      responses:
        '204':
          description: |-
            No Content
            BOTを参加させました。
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: |-
            Not Found
            BOTが見つかりません。
      description: |-
        指定したBOTを指定したチャンネルに参加させます。
        チャンネルに参加したBOTは、そのチャンネルの各種イベントを受け取るようになります。
        対象のBOTの管理権限が必要です。
      operationId: letBotJoinChannel
      tags:
        - bot
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBotActionJoinRequest'
  '/bots/{botId}/actions/leave':
    parameters:
      - $ref: '#/components/parameters/botIdInPath'
    post:
      summary: BOTをチャンネルから退出させる
      responses:
        '204':
          description: |-
            No Content
            BOTを退出させました。
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: |-
            Not Found
            BOTが見つかりません。
      tags:
        - bot
      operationId: letBotLeaveChannel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBotActionLeaveRequest'
      description: |-
        指定したBOTを指定したチャンネルから退出させます。
        対象のBOTの管理権限が必要です。
  '/channels/{channelId}/bots':
    parameters:
      - $ref: '#/components/parameters/channelIdInPath'
    get:
      summary: チャンネル参加中のBOTのリストを取得
      tags:
        - bot
        - channel
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: BOTの配列
                items:
                  $ref: '#/components/schemas/BotUser'
        '404':
          description: |-
            Not Found
            チャンネルが見つかりません。
      operationId: getChannelBots
      description: 指定したチャンネルに参加しているBOTのリストを取得します。
  /webrtc/authenticate:
    post:
      summary: Skyway用認証API
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebRTCAuthenticateResult'
        '400':
          description: Bad Request
        '503':
          description: |-
            Service Unavailable
            WebRTCは現在機能を停止しています
      description: Skyway WebRTC用の認証API
      operationId: postWebRTCAuthenticate
      tags:
        - webrtc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostWebRTCAuthenticateRequest'
  '/channels/{channelId}':
    parameters:
      - $ref: '#/components/parameters/channelIdInPath'
    get:
      summary: チャンネル情報を取得
      tags:
        - channel
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '404':
          description: Not Found
      operationId: getChannel
      description: 指定したチャンネルの情報を取得します。
    patch:
      summary: チャンネル情報を変更
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: |-
            Conflict
            変更後の名前のチャンネルが既に存在しています。
      operationId: editChannel
      tags:
        - channel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchChannelRequest'
      description: |-
        指定したチャンネルの情報を変更します。
        変更には権限が必要です。
        ルートチャンネルに移動させる場合は、`parent`に`00000000-0000-0000-0000-000000000000`を指定してください。
  /webrtc/state:
    get:
      summary: WebRTC状態を取得
      tags:
        - webrtc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebRTCUserStates'
      operationId: getWebRTCState
      description: 現在のWebRTC状態を取得します。
  /clip-folders:
    post:
      summary: クリップフォルダを作成
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClipFolder'
        '400':
          description: Bad Request
      operationId: createClipFolder
      tags:
        - clip
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostClipFolderRequest'
      description: |-
        クリップフォルダを作成します。
        既にあるフォルダと同名のフォルダを作成することは可能です。
    get:
      summary: クリップフォルダのリストを取得
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: クリップフォルダの配列
                items:
                  $ref: '#/components/schemas/ClipFolder'
      tags:
        - clip
      operationId: getClipFolders
      parameters: []
      description: 自身が所有するクリップフォルダのリストを取得します。
  '/clip-folders/{folderId}':
    parameters:
      - $ref: '#/components/parameters/folderIdInPath'
    get:
      summary: クリップフォルダ情報を取得
      tags:
        - clip
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClipFolder'
        '404':
          description: |-
            Not Found
            クリップフォルダが見つかりません。
      operationId: getClipFolder
      description: 指定したクリップフォルダの情報を取得します。
    delete:
      summary: クリップフォルダを削除
      responses:
        '204':
          description: |-
            No Content
            削除しました。
        '404':
          description: |-
            Not Found
            クリップフォルダが見つかりません。
      operationId: deleteClipFolder
      tags:
        - clip
      description: 指定したクリップフォルダを削除します。
    patch:
      summary: クリップフォルダ情報を編集
      responses:
        '204':
          description: |-
            No Content
            編集しました。
        '400':
          description: Bad Request
        '404':
          description: Not Found
      operationId: editClipFolder
      tags:
        - clip
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchClipFolderRequest'
      description: 指定したクリップフォルダの情報を編集します。
  '/clip-folders/{folderId}/messages':
    parameters:
      - $ref: '#/components/parameters/folderIdInPath'
    post:
      summary: メッセージをクリップフォルダに追加
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClippedMessage'
        '400':
          description: Bad Request
        '404':
          description: |-
            Not Found
            クリップフォルダが見つかりません。
        '409':
          description: |-
            Conflict
            既に追加されています。
      operationId: clipMessage
      tags:
        - clip
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostClipFolderMessageRequest'
      description: 指定したメッセージを指定したクリップフォルダに追加します。
    get:
      summary: フォルダ内のクリップのリストを取得
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: クリップの配列
                items:
                  $ref: '#/components/schemas/ClippedMessage'
        '404':
          description: |-
            Not Found
            クリップフォルダが見つかりません。
      operationId: getClips
      parameters:
        - $ref: '#/components/parameters/limitInQuery'
        - $ref: '#/components/parameters/offsetInQuery'
        - $ref: '#/components/parameters/orderInQuery'
      tags:
        - clip
      description: |-
        指定したフォルダ内のクリップのリストを取得します。
        `order`を指定しない場合、クリップした日時の新しい順で返されます。
  '/clip-folders/{folderId}/messages/{messageId}':
    parameters:
      - $ref: '#/components/parameters/folderIdInPath'
      - $ref: '#/components/parameters/messageIdInPath'
    delete:
      summary: メッセージをクリップフォルダから除外
      responses:
        '204':
          description: |-
            No Content
            外しました。
        '404':
          description: |-
            Not Found
            クリップフォルダが見つかりません。
      operationId: unclipMessage
      description: |-
        指定したフォルダから指定したメッセージのクリップを除外します。
        既に外されているメッセージを指定した場合は204を返します。
      tags:
        - clip
  '/webhooks/{webhookId}/messages':
    parameters:
      - $ref: '#/components/parameters/webhookIdInPath'
    get:
      summary: Webhookの投稿メッセージのリストを取得
      tags:
        - webhook
      operationId: getWebhookMessages
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: メッセージの配列
                items:
                  $ref: '#/components/schemas/Message'
          headers:
            X-TRAQ-MORE:
              $ref: '#/components/headers/X-TRAQ-MORE'
        '400':
          description: Bad Request
        '404':
          description: |-
            Not Found
            Webhookが見つかりません。
      parameters:
        - $ref: '#/components/parameters/limitInQuery'
        - $ref: '#/components/parameters/offsetInQuery'
        - $ref: '#/components/parameters/sinceInQuery'
        - $ref: '#/components/parameters/untilInQuery'
        - $ref: '#/components/parameters/inclusiveInQuery'
        - $ref: '#/components/parameters/orderInQuery'
      description: 指定されたWebhookが投稿したメッセージのリストを返します。
  '/channels/{channelId}/events':
    parameters:
      - $ref: '#/components/parameters/channelIdInPath'
    get:
      summary: チャンネルイベントのリストを取得
      tags:
        - channel
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: チャンネルイベントの配列
                items:
                  $ref: '#/components/schemas/ChannelEvent'
          headers:
            X-TRAQ-MORE:
              $ref: '#/components/headers/X-TRAQ-MORE'
        '400':
          description: Bad Request
        '404':
          description: |-
            Not Found
            チャンネルが見つかりません。
      operationId: getChannelEvents
      parameters:
        - $ref: '#/components/parameters/limitInQuery'
        - $ref: '#/components/parameters/offsetInQuery'
        - $ref: '#/components/parameters/sinceInQuery'
        - $ref: '#/components/parameters/untilInQuery'
        - $ref: '#/components/parameters/inclusiveInQuery'
        - $ref: '#/components/parameters/orderInQuery'
      description: 指定したチャンネルのイベントリストを取得します。
  /stamp-palettes:
    get:
      summary: スタンプパレットのリストを取得
      tags:
        - stamp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: スタンプパレットの配列
                items:
                  $ref: '#/components/schemas/StampPalette'
      operationId: getStampPalettes
      description: 自身が所有しているスタンプパレットのリストを取得します。
    post:
      summary: スタンプパレットを作成
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StampPalette'
        '400':
          description: Bad Request
      tags:
        - stamp
      description: スタンプパレットを作成します。
      operationId: createStampPalette
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostStampPaletteRequest'
  '/stamp-palettes/{paletteId}':
    parameters:
      - $ref: '#/components/parameters/paletteIdInPath'
    get:
      summary: スタンプパレットを取得
      tags:
        - stamp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StampPalette'
        '404':
          description: Not Found
      operationId: getStampPalette
      description: 指定したスタンプパレットの情報を取得します。
    delete:
      summary: スタンプパレットを削除
      responses:
        '204':
          description: |-
            No Content
            削除しました。
        '403':
          description: |-
            Forbidden
            対象のスタンプパレットを削除する権限がありません。
        '404':
          description: Not Found
      operationId: deleteStampPalette
      description: |-
        指定したスタンプパレットを削除します。
        対象のスタンプパレットの管理権限が必要です。
      tags:
        - stamp
    patch:
      summary: スタンプパレットを編集
      responses:
        '204':
          description: |-
            No Content
            変更しました。
        '400':
          description: Bad Request
        '403':
          description: |-
            Forbidden
            対象のスタンプパレットを編集する権限がありません。
        '404':
          description: Not Found
      operationId: editStampPalette
      tags:
        - stamp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchStampPaletteRequest'
      description: |-
        指定したスタンプパレットを編集します。
        リクエストのスタンプの配列の順番は保存されて変更されます。
        対象のスタンプパレットの管理権限が必要です。
  /activity/onlines:
    get:
      summary: オンラインユーザーリストを取得
      tags:
        - activity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ユーザーのUUID配列
                items:
                  type: string
      operationId: getOnlineUsers
      description: 現在オンラインな(SSEまたはWSが接続中)ユーザーのUUIDのリストを返します。
  '/stamps/{stampId}/image':
    parameters:
      - $ref: '#/components/parameters/stampIdInPath'
    get:
      summary: スタンプ画像を取得
      tags:
        - stamp
      responses:
        '200':
          description: OK
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
        '404':
          description: Not Found
      operationId: getStampImage
      description: 指定したIDのスタンプ画像を返します。
    put:
      summary: スタンプ画像を変更
      operationId: changeStampImage
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '413':
          description: Request Entity Too Large
      tags:
        - stamp
      description: 指定したスタンプの画像を変更します。
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              format: binary
              properties:
                file:
                  type: string
                  format: binary
                  description: 'スタンプ画像(1MBまでのpng, jpeg, gif)'
              required:
                - file
        description: ''
  '/users/me/unread/{channelId}':
    parameters:
      - $ref: '#/components/parameters/channelIdInPath'
    delete:
      summary: チャンネルを既読にする
      operationId: readChannel
      responses:
        '204':
          description: |-
            No Content
            既読にしました。
      description: 自分が未読のチャンネルを既読にします。
      tags:
        - me
        - notification
  '/groups/{groupId}/admins/{userId}':
    parameters:
      - $ref: '#/components/parameters/groupIdInPath'
      - $ref: '#/components/parameters/userIdInPath'
    delete:
      summary: グループ管理者を削除
      responses:
        '204':
          description: |-
            No Content
            指定したユーザーがユーザーグループ管理者から削除されました。
        '400':
          description: Bad Request
        '403':
          description: |-
            Forbidden
            ユーザーグループを操作する権限がありません。
        '404':
          description: |-
            Not Found
            ユーザーグループが見つかりません。
      tags:
        - group
      operationId: removeUserGroupAdmin
      description: |-
        指定したユーザーグループから指定した管理者を削除します。
        対象のユーザーグループの管理者権限が必要です。
        グループから管理者が存在しなくなる場合は400エラーを返します。
  '/groups/{groupId}/admins':
    parameters:
      - $ref: '#/components/parameters/groupIdInPath'
    post:
      summary: グループ管理者を追加
      responses:
        '204':
          description: |-
            No Content
            追加されました。
        '400':
          description: Bad Request
        '403':
          description: |-
            Forbidden
            ユーザーグループを操作する権限がありません。
        '404':
          description: |-
            Not Found
            ユーザーグループが見つかりません。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostUserGroupAdminRequest'
        description: ''
      tags:
        - group
      operationId: addUserGroupAdmin
      description: |-
        指定したグループに管理者を追加します。
        対象のユーザーグループの管理者権限が必要です。
    get:
      summary: グループ管理者を取得
      tags:
        - group
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ユーザーグループ管理者のUUIDの配列
                items:
                  type: string
                  format: uuid
        '404':
          description: |-
            Not Found
            ユーザーグループが見つかりません。
      operationId: getUserGroupAdmins
      description: 指定したグループの管理者のリストを取得します。
  /oauth2/token:
    post:
      tags:
        - oauth2
      operationId: postOAuth2Token
      description: OAuth2 トークンエンドポイント
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PostOAuth2Token'
      responses:
        '200':
          description: トークンが正常に発行されました。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Token'
        '400':
          description: トークン発行に失敗しました。
        '403':
          description: トークン発行に失敗しました。
      summary: OAuth2 トークンエンドポイント
  /oauth2/authorize/decide:
    post:
      tags:
        - oauth2
[...]
