{{- if eq .Action "opened" -}}
## PullRequest Opened
[{{ .Repository.FullName }}]({{ .Repository.HTMLURL }}) - [{{ .PullRequest.Title }}]({{ .PullRequest.HTMLURL }})
{{- else if eq .Action "closed" -}}
{{- if .PullRequest.Merged -}}
## PullRequest Merged
[{{ .Repository.FullName }}]({{ .Repository.HTMLURL }}) - [{{ .PullRequest.Title }}]({{ .PullRequest.HTMLURL }})
{{- else -}}
## PullRequest Closed
[{{ .Repository.FullName }}]({{ .Repository.HTMLURL }}) - [{{ .PullRequest.Title }}]({{ .PullRequest.HTMLURL }})
{{- end -}}
{{- else if eq .Action "reopened" -}}
## PullRequest Reopened
[{{ .Repository.FullName }}]({{ .Repository.HTMLURL }}) - [{{ .PullRequest.Title }}]({{ .PullRequest.HTMLURL }})
{{- else -}}
{{- end -}}