name: swagger-change

on:
  push:
    branches:
      - 'master'
    paths:
      - 'docs/v3-api.yaml'
      - '.github/workflows/swagger-change.yml'
  pull_request:
    paths:
      - 'docs/v3-api.yaml'
      - '.github/workflows/swagger-change.yml'

jobs:
  spectral:
    name: Spectral
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
      - name: Install spectral
        run: npm install --location=global @stoplight/spectral-cli
      - name: Run spectral
        run: spectral lint docs/v3-openapi.yaml --ruleset .spectral.yml --verbose
  node-traq:
    name: node-traq
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.PAT_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: 'traPtitech',
              repo: 'node-traq',
              workflow_id: 'release.yml',
              ref: 'master'
            })
  go-traq:
    name: go-traq
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.PAT_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: 'traPtitech',
              repo: 'go-traq',
              workflow_id: 'release.yaml',
              ref: 'master'
            })
  swift-traq:
    name: swift-traq
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.PAT_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: 'traPtitech',
              repo: 'swift-traq',
              workflow_id: 'release.yml',
              ref: 'main'
            })
  rust-traq:
    name: rust-traq
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.PAT_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: 'traPtitech',
              repo: 'rust-traq',
              workflow_id: 'regenerate.yml',
              ref: 'main'
            })
